.background-holder {
  color: white;
  background-image: url("../../assets/regent-theater.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-text {
  z-index: 10;
  width: 100%;
  text-align: center;
}

.background-title {  
  font-size: 6rem;
}

.background-color-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2F2F2F;
  opacity: 0.7; 
}


.first-time-card {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  background-color: #FAFAFA; 
}

.card-wrapper {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;  

  -webkit-box-shadow: 14px 18px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 18px 5px -4px rgba(0,0,0,0.75);
  box-shadow: 14px 18px 5px -4px rgba(0,0,0,0.75);
}

.left-side-logo {
  background-color: #2F2F2F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side-logo {
  background-color: white;  
}

.separate {
  width: 50%;
  height: inherit;
}

.message-area {
  resize: none;
}

.submit-btn {
  width: 30%;
  padding: 15px 38px;
  border-radius: 40px;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}